/out
/bin
idea
/lib
/idea-target
target
/build
.gradle
.DS_Store
.classpath
.project
.settings
*.iml
.idea
*.war
/grails-app/views/config.properties
/grails-app/conf/init-data/alternateNames.txt
grails-app/controllers/com/TestController.groovy
tomcat.8080/
/logs
dependencies

.slcache/.index

*.bytes
